@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

body::-webkit-scrollbar {
  width: 1.2rem;                        /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
  background: #2c2c2c;               /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
  background-color: white;           /* цвет бегунка */
  border-radius: 20px;                 /* округлось бегунка */
  border: 3px solid #2c2c2c;         /* отступ вокруг бегунка */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style-type: none;
}

@media screen and (min-width: 960px) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}